# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Ignore all tfvars by default...
*.tfvars
# ...but explicitly allow this one back in
!infra/envs/prod/terraform.tfvars